<div>
     <h2>The editor</h2>
     <hr>
     <h3>Todo the buttons bar</h3>
     <button  (click)="addBorders()">add borders</button>
     <button  (click)="addRowBtn()">add row</button>
     <button  (click)="addColumnBtn()">add column</button>
     <button  (click)="rmRowBtn()">rm row</button>
     <button  (click)="rmColumnBtn()">rm column</button>
     <button  (click)="setItalic()">Italique</button>
     <button  (click)="unlockCells()">unlock cells</button>
     <hr>
     <gc-spread-sheets [backColor]="spreadBackColor" [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
          <gc-worksheet [name]="sheetName">
               <gc-column dataField="" width=300></gc-column>
               <gc-column dataField="" [width]=columnWidth></gc-column>
               <gc-column dataField="" [width]=columnWidth formatter="$ #.00"></gc-column>
               <gc-column dataField="" [width]=columnWidth></gc-column>
          </gc-worksheet>
     </gc-spread-sheets>
     <hr>
     <div id = "button">
          <input type="text" 
          class="input" 
          placeholder="spreadsheet's title"
          [(ngModel)]="spreadsheetTitle">
          <button   (click)="sendMessage()">Save to clause</button> <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onClickMeImport($event)" />
     </div>
</div>
