<!-- the openUrl link will be modified to an Edilex service -->
<!-- the saveUrl link will be modified to an Edilex service -->
<hr>
<div ng-app="app-root">
    <ejs-spreadsheet #spreadsheet id="spreadsheet">
        <e-sheets>
            <e-sheet name='Shipment Details'>
                <e-ranges>
                    <e-range 
                    [showFieldAsHeader]='false' 
                    startCell='A2' 
                    [dataSource]='data' 
                    [query]='query'> 
                </e-range>
                </e-ranges>
                <e-rows>
                    <e-row>
                        <e-cells>
                            <e-cell value='Order ID'></e-cell>
                            <e-cell value='Customer Name'></e-cell>
                            <e-cell value='Freight'></e-cell>
                            <e-cell value='Ship Name'></e-cell>
                            <e-cell value='Ship City'></e-cell>
                            <e-cell value='Ship Country'></e-cell>
                        </e-cells>
                    </e-row>
                </e-rows>
                <e-columns>
                    <e-column [width]=100></e-column>
                    <e-column [width]=130></e-column>
                    <e-column [width]=100></e-column>
                    <e-column [width]=220></e-column>
                    <e-column [width]=150></e-column>
                    <e-column [width]=180></e-column>
                </e-columns>
            </e-sheet>
        </e-sheets>
    </ejs-spreadsheet>
    <hr>
    <div id="button">
        <!-- TODO changer routerlink pour le mettre dans la fonction -->
        <button mat-raised-button color="warn" (click)="saveSpreadsheet($event)" >Am Done I SuCh very ArTiSt</button>
    </div>
    <input type="text" id="fileName" />
    <input type="button" value="Save as Excel" onclick="saveAsExcel()" />
    <input type="button" value="Load Excel" onclick="loadExcel()" />
    <div id="Spreadsheet"></div>
</div>