<!-- the openUrl link will be modified to an Edilex service -->
<!-- the saveUrl link will be modified to an Edilex service -->
<hr>
<div ng-app="app-root">
    <ejs-spreadsheet #spreadsheet id="sprd1">
    </ejs-spreadsheet>
    <hr>
    <div id="button">
        <!-- TODO changer routerlink pour le mettre dans la fonction -->
        <button mat-raised-button color="warn" (click)="saveSpreadsheet($event)" >Am Done I SuCh very ArTiSt</button>
    </div>
    <input type="text" id="fileName" />
    <input type="button" value="Save as Excel" onclick="saveAsExcel()" />
    <input type="button" value="Load Excel" onclick="loadExcel()" />
    <div id="Spreadsheet"></div>
</div>